name: Klocwork integration build analysis

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      name:
        description: 'Run the Klocwork analysis manually'
        default: 'Manual Execution'
        required: true

jobs:
  build:
    runs-on: [self-hosted, kwbuildtools]
    
    defaults:
      run:
        shell: cmd
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Klocwork integration analysis
        uses: michael-baron/klocwork-integration-analysis-action@v03
        with:
          build-command: make
          url: ${{ secrets.KWSERVER }}
          project: demosthenes_actions_demo
          capture-tool: kwinject
      
      - name: Generate SARIF report
        run: python2 ${{ secrets.KWHOME }}/kwoutput.py -a api -f sarif --url ${{ secrets.KWSERVER }}/demosthenes_actions_demo
        continue-on-error: true
      
      - name: Upload SARIF to GitHub
        if: hashFiles('kw.sarif') != ''
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: kw.sarif
        continue-on-error: true
