name: Klocwork integration build analysis

# on:
#  push:
#    branches:
#      - main
#  workflow_dispatch:
#    inputs:
#      name:
#        description: 'Run the Klocwork analysis manually'
#        default: 'Manual Execution'
#        required: true 

permissions:
  contents: read
  security-events: write

jobs:
  build:
    runs-on: [self-hosted, kwbuildtools]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: kwinject
        run: kwinject make

      - name: kwbuildproject
        run: kwbuildproject --url ${{secrets.KWSERVER}}/demosthenes_actions_demo -o tables kwinject.out --license-host 172.18.176.1 --license-port 27000 -f

      - name: kwload
        env:
          RLM_LICENSE: 27000@172.18.176.1
        run: kwadmin --url ${{secrets.KWSERVER}} load demosthenes_actions_demo tables

      - name: generate sarif file
        run: /home/itou/.pyenv/versions/2.7.18/bin/python /home/itou/klocwork/25.4/kwbuildtools/bin/kwoutput.py -a api -f sarif --url ${{secrets.KWSERVER}}/demosthenes_actions_demo

      - name: upload sarif file
        if: hashFiles('kw.sarif') != ''
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: kw.sarif
